body {
    font-family: comicsans;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bolder {
    font-weight: bolder;
}

.img-medium {
    height: 200px;
}

